* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: white;
  overscroll-behavior: contain;
}



.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 22px;
}

.btn {
  padding: 9px 15px;
  text-decoration: none;
}




.wrap {
  position: fixed;
  height: 100%;
}



.setting {
  height: max(5.521vh, 32px);
}

.point {
  height: 100%;
  font-size: 18px;
  font-weight: 700;
}

.zoom-in {
	animation: zoom-in-anim 0.7s;
}

@keyframes zoom-in-anim {
	0% {
	transform: scale(1);
	}
	50% {
	transform: scale(1.5);
	}
	100% {
	transform: scale(1);
	}
}

.repeat-btn {
  background-color: #fff;
  background-image: url("repeat.png");
  background-position: 50% 50%;
  background-size: 25px;
  background-repeat: no-repeat;
}



.ety {
  height: 3.514vh;
  background-color: #000;
  color: #fff;
}



.levels {
  height: 2.760vh;
  margin-top: 1.0038vh;
}

.level {
  border: 1px solid #000;
  font-size: 11px;
  height: 18px;
  min-height: 18px;
}

.source {
  padding-right: 3px;
  padding-left: 3px;
  height: 18px;
}

.level-num {
  padding-right: 3px;
  padding-left: 3px;
  background-color: #000;
  color: #fff;
  height: 18px;
}



.history {
  height: max(1.883vh, 11px);
  margin-top: 0.5019vh;
  font-size: 13px;
  text-align: center;
}





.question {
  height: 70vh;
  flex-direction: column;
}


.q_text {
  width: 80%;
  text-align: left;
  font-size: 23px;
  line-height: 30px;
}


.input-text {
  height: 7.528vh;
  font-size: 18px;
  text-align: center;
  padding-bottom: 5.019vh;
}




.input-btn {
  width: 70px;
  height: 70px;
  border: 1px solid #000;
  color: #000;
  font-size: 30px;
}

.w-input-btn {
  width: 90px;
  height: 90px;
}






.select-bar {
  position: fixed;
  left: 100%;
  width: 100%;
  height: max(5.521vh, 35px);
  background-color: #000;
  transition-timing-function: cubic-bezier(0, 0, 0, 1);
  transition-duration: 0.3s;
  justify-content: flex-start;
}

.select-bar.move1 {
  z-index: 9995;
}

.select-bar.move2 {
  z-index: 9996;
}

.select-bar.move3 {
  z-index: 9997;
}

.select-bar.move4 {
  z-index: 9998;
}

.select-bar.move5 {
  z-index: 9994;
}

.select-title {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}





.select {
  position: fixed;
  display: flex;
  left: 100%;
  overflow: scroll;
  overscroll-behavior: contain;
  width: 100%;
  height: 95%;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0, 0, 0, 1);
  transition-duration: 0.3s;
}

.select.move1 {
  z-index: 9990;
}

.select.move2 {
  z-index: 9991;
}

.select.move3 {
  z-index: 9992;
}

.select.move4 {
  z-index: 9993;
}

.select.move5 {
  z-index: 9989;
}

.move5 {
  left: 0%;
  top: 100%;
}



table {
  width: 100%;
  margin-top: max(5.521vh, 35px);
  height: max-content;
  border-spacing: 0px;
}

table td {
  height: 42px;
  border-top: 0.2px solid #000;
  border-bottom: 0.2px solid #000;
}

.li-num {
  width: 40px;
  text-align: center;
}

.li-name {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}





.trip {
  margin-top: max(5.521vh, 35px);
  ;
  width: 100%;
  height: 95%;
  background-color: #e7e6e5;
  overflow: hidden;
}

.data {
  height: max(20vh, 85px);
  flex-direction: column;
  justify-content: flex-start;
}

.data2 {
  width: 100%;
  height: 12vh;
  text-align: center;
}

.data3-1 {
  font-size: 20px;
  height: 100%;
  width: 35%;
  flex-direction: column;
  position: relative;
}

#st1,
#st2 {
  font-size: 21px;
  line-height: 25px;
  font-weight: bold;
}

.data2 svg {
  position: absolute;
  top: 13.6vh;
  transform: translateY(-50%);
}

.data3-2 {
  flex-direction: column;
  width: 25%;
  position: relative;
  justify-content: flex-end;
}

#wayname {
  height: 6vh;
  align-items: flex-end;
  white-space: nowrap;
}

#between {
  height: 6vh;
  font-size: 12px;
  line-height: 17px;
}



.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99999;
  background: white;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  font-size: 20px;
}



.alert {
  width: 95%;
  height: 8%;
  position: fixed;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  visibility: hidden;
  font-size: 15px;
  top: 1vh;
  color: #fff;
  transition: transform 1s cubic-bezier(0.22, 1, 0.36, 1);
  transform: translateY(-10vh);
}

.twitter a {
  background: #0096F8;
  border-radius: 3px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 25px;
  height: 6vh;
  width: 6vh;
}

.share a {
  background: #eee;
  border-radius: 3px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 25px;
  height: 6vh;
  width: 6vh;
}





.judge {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(255, 255, 255, 0.9);
  visibility: hidden;
  flex-direction: column;
  justify-content: center;
  font-size: 23px;
  font-weight: bold;
  line-height: 10vh;
}