* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

body {
  font-family: Arial,sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: white;
  overscroll-behavior: contain;
}

.w-button {
  padding: 9px 15px;
  text-decoration: none
}


.eng {
  width: 80%;
  text-align: left;
  font-size: 23px;
  line-height: 30px;
}

.keys {
  position: static;
  display: flex;
  height: 80px;
  align-items: center;
  grid-column-gap: 20px;
}

.input-btn {
  display: flex;
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  color: #000;
  font-size: 30px;
}

.ety {
  display: flex;
  justify-content: space-around;
  background-color: #000;
}

.ety-text {
  padding-top: 4px;
  padding-bottom: 4px;
  color: #fff;
}

.answers {
  margin-top: 4px;
  font-size: 13px;
  height: 15px;
  text-align: center;
}

.input-text {
  font-size: 18px;
  text-align: center;
  padding-bottom: 40px;
}

.levels {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  justify-content: space-around;
}

.level {
  display: flex;
  border: 1px solid #000;
}

.source {
  padding-right: 3px;
  padding-left: 3px;
  font-size: 12px;
}

.level-num {
  padding-right: 3px;
  padding-left: 3px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
}

.point {
  padding-top: 5px;
  padding-bottom: 0px;
  font-size: 18px;
  font-weight: 700;
}

.setting {
  display: flex;
  justify-content: space-around;
  padding-top: 8px;
  padding-bottom: 8px;
}

.repeat-btn {
  background-color: #fff;
  background-image: url("repeat.png");
  background-position: 50% 50%;
  background-size: 25px;
  background-repeat: no-repeat;
}

.back {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.wrap {
  position: fixed;
  height: 100%;
}

.question {
  display: flex;
  height: 70%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

table {
  width: 100%;
  margin-top: 44px;
  height: max-content;
  border-collapse: collapse;
}

.li-name {
  font-size: 20px;
  height: 42px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 11px;
  border-top: 0.2px solid #000;
  border-bottom: 0.2px solid #000;
}

.select-bar {
  position: fixed;
  display: flex;
  left: 100%;
  width: 100%;
  height: 44px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  grid-column-gap: 15px;
  background-color: #000;
  transition-timing-function: cubic-bezier(0,0,0,1);
  transition-duration: 0.3s;
}

.select-bar.move1 {
  z-index: 9995;
}

.select-bar.move2 {
  z-index: 9996;
}

.select-bar.move3 {
  z-index: 9997;
}

.select-bar.move4 {
  z-index: 9998;
}

.select-bar.move5 {
  z-index: 9994;
}

.back {
  width: 25px;
  height: 25px;
  transform: scale3d(1.6, 1, 1);
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
}

.select-title {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.select {
  position: fixed;
  display: flex;
  left: 100%;
  overflow: scroll;
  overscroll-behavior: contain;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0,0,0,1);
  transition-duration: 0.3s;
}

.select.move1 {
  z-index: 9990;
}

.select.move2 {
  z-index: 9991;
}

.select.move3 {
  z-index: 9992;
}

.select.move4 {
  z-index: 9993;
}

.select.move5 {
  z-index: 9989;
}

.move5 {
  left: 0%;
  top: 100%;
}